.movies__card-list {
    display: grid;
    list-style: none;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
    gap: 30px 16px;
    padding: 80px 0 30px 0;
}

.card-list__text {
    color: #555555;
    font-size: 20px;
    padding-top: 153px;
}

@media all and (max-width: 400px) {
    .movies__card-list {
        padding: 56px 0 30px 0;
        gap: 16px 16px;
    }
    
  } 