.card {
  min-height: 258px;
  max-width: 364px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  
}

.card__info {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

.card__description {
  display: flex;
  flex-direction: column;
  font-family: inter;
  
}

.card__title {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  
  color: white;
}

.card__duration {
  font-size: 11px;
  font-weight: 400;
  margin: 9px 0 0;
  color: #8B8B8B;
}

.card__tab {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: .2s;

}

.card__tab_del {
  background-image: url("../../images/DeleteMovieBtn.svg");
  cursor: pointer;
}

.card__image {
  text-decoration: none;
  color: white;
  height: 205px;
  background-image: url(../../images/CardImage.png);
  background-size: cover;
  
}

