/**/
.profile__valid-name {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #ff3055;
  position: absolute;
  top: 407px;
  display: none;
  padding-right: 25px;
  max-width: 401px;
}

.profile__valid-email {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #ff3055;
  position: absolute;
  top: 454px;
  display: none;
  padding-right: 25px;
  max-width: 401px;
}

.profile__valid-name_non-valid {
  display: flex;
}

.profile__valid-email_non-valid {
  display: flex;
}

.profile {
  flex: 1;
  display: flex;
  color: white;
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: 401px;
  margin: 0 auto;
  padding: 160px 0 70px;
}

.profile-form__title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 113px;
}

.profile-form__label {
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  padding: 16px 0 17px;
}
.profile-form__span {
  width: fit-content;
}

.profile-form__line {
  border-bottom: 1px solid #424242;
}
.profile-form__input {
  background-color: #202020;
  border: none;
  color: white;
  width: 75%;
  text-align: right;
  border: none;
  outline: none;
}

.profile-form__submit {
  font-size: 13px;
  border: none;
  background-color: #202020;
  color: white;
  width: fit-content;
  align-self: center;
  padding: 203px 0 16px;
  cursor: pointer;
}

.profile-form__submit:hover {
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

.profile-form__submit__error {
  color: rgba(255, 255, 255, 0.185);
}
.profile-form__submit__error:hover {
  opacity: 1;
  cursor: default;
}

.profile-form__link {
  font-size: 13px;
  color: #ee3465;
  text-decoration: none;
  width: fit-content;
  align-self: center;
}

.profile-form__link:hover {

  transition: opacity 0.3s linear;
  background: radial-gradient(ellipse at center, #fc39397a 0%,#202020 85%);
}

@media all and (max-width: 768px) {
  .profile-form {
    width: 411px;
  }

  .profile-form__title {
    padding-bottom: 80px;
  }

  .profile-form__submit {
    padding: 195px 0 16px;
  }
  .profile__valid-name {
    top: 380px;
  }

  .profile__valid-email {
    top: 427px;
  }
}

@media all and (max-width: 495px) {
  .profile-form {
    padding: 70px 30px 0;
  }

  .profile__valid-name {
    top: 290px;
  }

  .profile__valid-email {
    top: 335px;
  }
  .profile-form__title {
    max-width: 260px;
    align-self: center;
  }
}
