.portfolio {
  background-color: #202020;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  padding: 85px 70px 110px 70px;
  margin: 0 auto;
  font-weight: 400;
}

.portfolio__title {
  color: #8b8b8b;
  font-size: 18px;
  font-weight: 400;
}

.portfolio__links {
  list-style: none;
  padding: 0;
  padding: 10px 0 0;
}

.portfolio__item {
  font-size: 30px;
  border-bottom: 1px solid #424242;
  background-image: url(../../images/link-arrow.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
  background-size: 20px;
}

.portfolio__item:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.portfolio__item:last-child {
  border-bottom: none;
}

.portfolio__link {
  color: white;
  text-decoration: none;
  line-height: 3;
  letter-spacing: -0.04em;
  font-size: 30px;
}

.portfolio__link:hover {
  -webkit-box-shadow: 0px 1px 0px 0px white;
          box-shadow: 0px 1px 0px 0px white;
  -webkit-transition: -webkit-box-shadow .2s ease-out;
  transition: -webkit-box-shadow .2s ease-out;
  -o-transition: box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out;
}

@media all and (max-width: 768px) {
  .portfolio {
    padding: 75px 50px 75px 50px;
  }
  .portfolio__link {
    font-size: 28px;
  }
  .portfolio__item {
    line-height: 90px;
    background-size: 17px;
    border-bottom: 1px solid #e6e6e6;
  }
}

@media all and (max-width: 400px) {
  .portfolio {
    padding: 60px 14px 0px 14px;
  }
  .portfolio__title {
    font-size: 14px;
  }
  .portfolio__link {
    font-size: 18px;
  }
  .portfolio__item {
    line-height: 64px;
  }
}