.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #073042;
  /* width: 100%; */
  height: 557px;
  background-image: url(../../images/landing-logo.svg);
  background-repeat: no-repeat;
  background-position-y: 81%;
  background-position-x: 87%;
  margin: 0 auto;
}

.promo__title {
  max-width: 626px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin-top: 48px;
  margin-left: 70px;
}

@media all and (max-width: 768px) {
  .promo {
    background-position-x: center;
    background-position-y: 88%;
    background-size: 680px;
    height: 844px;
  }
  .promo__title {
    margin: 300px auto;
    text-align: center;
    padding: 0 18px;
  }
}

@media all and (max-width: 400px) {
  .promo {
    max-height: 627px;
    background-position-y: 90%;

  }
  .promo__title {
    margin: 175px auto 0;
    text-align: center;
    font-size: 31px;
    letter-spacing: -2px;
    line-height: 41px;
  }
}