.search-form {
  height: 220px; /*214*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #424242;
}

.search-form__span-error {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ff3055;
  position: absolute;
  top: 200px;
  padding-left: 3px;
}

.search-form__block {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 37px;
  gap: 10px;
}

.search-form__area {
  background: #2f2f2f;
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 11px 0 16px 20px;
  color: white;
}
.search-form__area:focus {
  outline: none;
  background-color: rgb(82, 81, 81);
  transition: background-color 0.2s linear;
}
.search-form__btn {
  background: #4285f4;
  border-radius: 8px;
  min-width: 44px;
  min-height: 44px;
  background-image: url(../../images/search__logo.svg);
  background-repeat: no-repeat;
  display: flex;
  background-position: center;
  border: none;
  cursor: pointer;
}
.search-form__btn:hover {
  background-color: #1067f3;
  transition: background-color 0.2s linear;
}

.search-form__filter {
  padding-top: 28px;
  color: white;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.search-form__checkbox {
  display: none;
}

.search-form__checkbox-span {
  width: 36px;
  height: 20px;
  background-repeat: no-repeat;
  padding-right: 12px;
  transition-duration: 0.2s;
}

@media all and (max-width: 768px) {
  .search-form__span-error {
    top: 210px;
  }
}

@media all and (max-width: 400px) {
  .search-form {
    padding: 0 4px;
  }
  .search-form__block {
    margin-top: 27px;
  }
  .search-form__area {
    padding: 11px 0 18px 14px;
  }
  .search-form__span-error {
    top: 203px;
  }
}

@media all and (max-width: 320px) {
  .search-form__area {
    width: 224px;
  }
}
