.about-project {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  /* max-width: 1280px; */
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  padding: 110px 70px 106px 70px;
  margin: 0 auto;
  letter-spacing: -1px;
}

.about-project__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
}

.about-project__main {
  display: flex;
  padding: 70px 0 110px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  justify-content: space-between;
  gap: 10px;
}

.about-project__block {
  max-width: 550px;
}

.about-project__block-title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.about-project__block-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding-top: 26px;
}

.about-project__weeks {
  display: flex;
  /* margin: 0 auto; */
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.about-project__week-green {
  background-color: #3ddc84;
  color: #000000;
min-width: 21%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.about-project__week-dark {
  background-color: #303030;
  color: #ffffff;
  width: 79%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.about-project__back-front {
  background-color: #202020;
  color: #8b8b8b;
}

@media all and (max-width: 768px) {
  .about-project {
    padding: 88px 50px 47px 50px;
  }
  .about-project__main {
    padding: 68px 0 105px;
  }
  .about-project {
    padding: 88px 50px 47px 50px;
  }
  .about-project__block-description {
    font-size: 12px;
  }
}

@media all and (max-width: 490px) {
  .about-project__main {
    flex-direction: column;
  }
}
@media all and (max-width: 400px) {
  .about-project__main {
    gap: 48px;
    align-items: center;
    padding: 60px 0 52px;
  }
  .about-project__block {
    max-width: 100%;
  }
  .about-project__block-title {
    font-size: 18px;
  }
  .about-project__block-description {
    font-size: 11px;
    letter-spacing: 0;
    padding-top: 8px;
  }
  .about-project {
    padding: 70px 18px 47px 18px;
  }
  .about-project__title {
    font-size: 18px;
  }
  .about-project__week-green {
    font-size: 11px;
  }
  .about-project__week-dark {
    font-size: 11px;
  }
}
