/**/
.reg-form__valid-text {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #ff3055;
  position: absolute;
  top: 288px;
  display: none;
  padding-right: 25px;

}

.reg-form__valid-text_non-valid {
  display: flex;
}
.reg-form__valid-text:nth-of-type(2){
  top: 384px;
}
.reg-form__valid-text:nth-of-type(3){
  top: 479px;
}
/**/

.reg {
  background-color: #202020;
  height: 100vh;
}

.reg-form {
  padding: 70px 0 70px;
  max-width: 396px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
}

.reg-form__logo {
  height: 38px;
  width: 38px;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-name: rot;
}


.reg-form__title {
  font-size: 24px;
  font-weight: 500;
  padding: 34px 0 43px;
  margin: 0;
}

.reg-form__label {
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}

.reg-form__input {
  background-color: #2f2f2f;
  border-radius: 8px;
  border: none;
  height: 46px;
  margin: 15px 0 22px;
  color: white;
}
.reg-form__input:focus {
  outline: none;
  background-color: rgb(82, 81, 81);
  transition: background-color 0.2s linear;
  }

  .reg-form__input__error {
    color: #ff3055;
  }

.reg-form__submit {
  color: white;
  background-color: #4285f4;
  border-radius: 3px;
  border: none;
  height: 46px;
  margin: 62px 0 16px;
  cursor: pointer;
}
.reg-form__submit:hover {
  background-color: #1067f3;
  transition: background-color 0.2s linear;
}

.reg-form__submit__error {
  background-color: #8b929c;
}
.reg-form__submit__error:hover {
  background-color: #8b929c;
  cursor: default;
}

.reg-form__text {
  align-self: center;
  font-size: 14px;
  font-weight: 400;
  color: #8b8b8b;
}

.reg-form__link {
  color: #4285f4;
  text-decoration: none;
}

.reg-form__link:hover {
  transition: opacity .3s ease-out;
  background: radial-gradient(ellipse at center, #4d5fff83 0%,#202020 75%);
}

@media all and (max-width: 495px) {
  .reg-form {
    padding: 70px 30px 0;
  }
}

@media all and (max-width: 400px) {
  .reg-form__text {
    font-size: 12px;
  }
  .reg-form__logo-link {
    display: flex;
    justify-content: center;
  }
  .reg-form__title {
    text-align: center;
  }
}

@keyframes rot {
  from {
    transform: rotate(360deg);
  }
}
