.techs {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  padding: 100px 70px 100px 70px;
  margin: 0 auto;
}

.techs__title {
  font-size: 21px;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
}

.techs__subtitle {
  max-width: 600px;
  height: 58px;
  margin: 0 auto;
  font-size: 47px;
  line-height: 58px;
  font-weight: 100;
  padding: 90px 0 26px 0;
}

.techs__text {
  max-width: 500px;
  height: 40px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.techs__list {
  list-style: none;
  justify-content: center;
  display: flex;
  padding: 100px 0 0 0;
  gap: 10px;
  flex-flow: wrap;
  margin: 0 auto;
  font-size: 14px;
}

.techs__list_item {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #303030;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 768px) {
  .techs {
    padding: 127px 50px 100px 50px;
  }
  .techs__subtitle {
    padding: 80px 0 20px 0;
  }
  .techs__list {
    padding: 80px 0 0 0;
    gap: 4px;
    font-size: 12px;
  }
}

@media all and (max-width: 400px) {
  .techs {
    padding: 28px 18px 100px 18px;
  }
  .techs__title {
    font-size: 17px;
    padding: 50px 0 10px 0;
  }
  .techs__subtitle {
    font-size: 29px;
    padding: 64px 0 9px 0;
  }
  .techs__text {
    font-size: 11px;
  }
  .techs__list {
    padding: 46px 0 0 0;
    gap: 8px;
    font-size: 12px;
  }
}
