.popup__image_login {
  width: 120px;
  height: 120px;
  margin: 60px auto 8px;
  -webkit-transition: visibility 0.5s, opacity 0.5s ease;
  transition: visibility 0.5s, opacity 0.5s ease;
}
.popup_image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.popup {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: visibility 0.5s, opacity 0.5s ease;
  transition: visibility 0.5s, opacity 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.popup:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.infotooltip-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 330px;
  text-align: center;
}

.popup__container {
  position: fixed;
  background-color: white;
  color: black;
  border-radius: 209px;
  display: flex;
  flex-direction: column;
}
.popup__tip {
  text-align: center;
  width: 334px;
  height: 330px;
}

.button {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.button_type_close {
  position: absolute;
  left: 99%;
  bottom: 99%;
  background-image: url(../../images/Close_Icon.png);

  border: none;
  height: 42px;
  width: 41px;
  background-color: transparent;
  background-size: cover;
}

@media (max-width: 645px) {
  .button_type_close {
    left: 99%;
    bottom: 99%;
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 400px) {
  .button_type_close {
    left: 99%;
    bottom: 99%;
  }
}

.popup-image {
  -webkit-transition: visibility 0.5s, opacity 0.5s ease;
  transition: visibility 0.5s, opacity 0.5s ease;
}

.popup-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.popup-image {
  -webkit-transition: visibility 0.5s, opacity 0.5s ease;
  transition: visibility 0.5s, opacity 0.5s ease;
}

.popup-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 330px;
  margin: 0 0 12px;
}

@media (max-width: 619px) {
  .popup__title {
    width: 190px;
  }
}
