.about-me {
  background-color: #202020;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  padding: 94px 70px 0px 70px;
  margin: 0 auto;
}

.about-me__main {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
}

.about-me__info {
  font-weight: 400;
  margin: 0;
}
.about-me__title {
  font-size: 21px;
  line-height: 27px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
  font-weight: 100;
}

.about-me__name {
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}

.about-me__profession {
  font-size: 18px;
  margin: 0;
  padding-top: 18px;
}

.about-me__text {
  font-size: 14px;
  max-width: 600px;
  padding: 26px 15px 0 0;
  margin: 0;
  line-height: 1.6;
  letter-spacing: 0.0015em;
}

.about-me__socials {
  list-style: none;
  font-size: 14px;
  max-width: 600px;
  font-weight: 400;
  display: flex;
  padding: 0;
  gap: 20px;
  padding-top: 100px;
  margin: 0;
}

.about-me__social {
  margin: 0;
}

.about-me__link {
  color: white;
  text-decoration: none;
}
.about-me__link:hover {
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

.about-me__photo {
  max-width: 270px;
  max-height: 327px;
  border-radius: 10px;
}

@media all and (max-width: 768px) {
  .about-me {
    padding: 61px 50px 0px 50px;
  }
  .about-me__name {
    font-size: 40px;
    letter-spacing: -2px;
  }
  .about-me__profession {
    font-size: 12px;
    padding-top: 12px;
  }
  .about-me__text {
    font-size: 12px;
    padding: 23px 0 0 0;
    line-height: 18px;
    max-width: 364px;
  }
  .about-me__photo {
    max-width: 256px;
    max-height: 308px;
  }
  .about-me__socials {
    padding-top: 88px;
  }
}

@media (max-width: 720px) {
  .about-me__main {
    flex-direction: column;
  }

  .about-me__photo {
    max-width: 256px;
    max-height: 308px;
  }
  .about-me__main {
    flex-direction: column-reverse;
  }
}

@media all and (max-width: 400px) {
  .about-me {
    padding: 17px 14px 0px 14px;
  }
  .about-me__title {
    font-size: 18px;
  }
  .about-me__info {
    padding-top: 65px;
  }
  .about-me__photo {
    max-width: 292px;
    max-height: 352px;
    align-self: center;
  }
  .about-me__name {
font-size: 30px;
  }
  
  .about-me__profession {
    font-size: 11px;
    padding-top: 21px;
  }
  
  .about-me__text {
    font-size: 11px;
  }
  .about-me__socials {
    padding-top: 28px;
  }
}
